﻿@model IEnumerable<LPS.Marketing.Model.InnerResult>

@foreach (var item in Model)
{
    <div class="row thumbnail" style="" onmouseover="this.style.background = '#eeeeee';" onmouseout="this.style.background='white';">
        <div class="col-md-3">
            <img border="0" src="@item.thumbvtoprel_image" alt="right">
        </div>
        <div class="col-md-6">
            @{
                string li = @item.linkwithhash_link;
                string middl = li.Substring(li.LastIndexOf('/') + 1);
                @ViewBag.Heading = middl.Substring(0, middl.LastIndexOf('-')).Replace("-", " ");
            }
            <h3>@ViewBag.Heading</h3>
            <div class="caption">
                <h4>
                    @if (@item.breadcrumb_flag != null)
                    {
                        @item.breadcrumb_flag
                    }
                </h4>
                <p>
                    @if (@item.breadcrumb_value != null)
                    {
                        <img src="~/Images/Annotation.png" />
                                        <a href="https://www.google.com/maps/place/@item.breadcrumb_value,+Pakistan" target="_blank">
                                            @item.breadcrumb_value
                                        </a>
                    }
                    @if (@item.breadcrumbtext_value != null)
                    {
                        <img src="~/Images/Annotation.png" />
                                        <a href="https://www.google.com/maps/place/@item.breadcrumbtext_value,+Pakistan" target="_blank">
                                            @item.breadcrumbtext_value
                                        </a>
                    }
                </p>
            </div>
        </div>
        <div class="col-md-3">
            <h3>@item.c000_value</h3>
            <p>
                <a href=@item.thumbvtoprel_link target="_blank">
                    <h5>Details</h5>
                </a>
            </p>
        </div>
    </div>
    <br />
}
