﻿
@{
    ViewBag.Title = "GuestHouse";
}

<div class="row">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div>
                    <img src="~/Images/GuestHouse.png" alt="Cars">
                </div>
            </div>
            <div class="col-lg-9">
                <div class="jumbotron" style="padding-top: 10px; padding-bottom: 10px">
                    @Html.Partial("_RealEstateFilterForm")
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3">
                <ul class="nav nav-pills nav-stacked">
                    <li role="presentation"><a href="@Url.Action("Index","RealEstate")">Houses</a></li>
                    <li role="presentation"><a href="@Url.Action("Apartments","RealEstate")">Apartments</a></li>
                    <li role="presentation"><a href="@Url.Action("Roommates","RealEstate")">PG And Roommates</a></li>
                    <li role="presentation"><a href="@Url.Action("LandPlots","RealEstate")">Land And Plots</a></li>
                    <li role="presentation"><a href="@Url.Action("CommercialSpace", "RealEstate")">Shop, Offices And Commercial Space</a></li>
                    <li role="presentation" class="active"><a href="@Url.Action("GuestHouse","RealEstate")">Guest Houses</a></li>
                </ul>
            </div>
            <div class="col-lg-9">
                <div id="divWrapper">
                    @{ Html.RenderAction("_GuestHouse", "RealEstate"); }
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/Scripts/waitMe.js"></script>
<script>
    var current_effect = "img";
    function GenerateRealEstateResults() {
        activateLoader();
        var param = {
            realEstate: $('#realEstate').val(),
            priseFrom: $('#priseFrom').val(),
            priseTo: $('#priseTo').val(),
            areaFrom: $('#areaFrom').val(),
            areaTo: $('#areaTo').val(),
            rooms: $('#rooms').val(),
            furnished: $('#furnished').val(),
            sourtOrder: $('#sourtOrder').val(),
        };
        $.ajax(
            {
                type: 'POST',
                url: '@Url.Action("_GuestHouse", "RealEstate")',
                dataType: "html",
                data: param,
                success: function (result) {
                    deActivateLoader();
                    $('#divWrapper').html(result);
                },
                error: function () {
                    deActivateLoader();
                    alert("Some Thing Went Wrog Please Try later.");
                }
            });
        }

        function activateLoader() {
            run_waitMe(current_effect);
        }

        function deActivateLoader() {
            $('body').waitMe('hide');
        }

        function run_waitMe(effect) {
            $('body').waitMe({
                effect: effect,
                text: 'Please wait...',
                bg: 'rgba(255,255,255,0.7)',
                color: '#000',
                sizeW: '',
                sizeH: '',
                source: 'img.svg',
                onClose: function () { }
            });
        }

</script>

