﻿@model IEnumerable<LPS.Marketing.Model.InnerResult>

@foreach (var item in Model)
{
    <div class="row thumbnail" style="" onmouseover="this.style.background = '#eeeeee';" onmouseout="this.style.background='white';">
        <div class="row">
            <div class="col-md-3">
                <img border="0" src="@item.lazypic_image" height="100px" width="120px">
            </div>
            <div class="col-md-6">
                @{
                    string li = @item.carnamead_link;
                    string middl = li.Substring(li.LastIndexOf('/') + 1);
                    @ViewBag.Heading = middl.Substring(0, middl.LastIndexOf('-')).Replace("-", " ");
                }
                <h3>@ViewBag.Heading</h3>
                <div class="caption">
                    <p>
                        @if (@item.link != null)
                        {
                            <img src="~/Images/Annotation.png" />
                            <a href="https://www.google.com/maps/place/@item.link,+Pakistan" target="_blank">
                                @item.link
                            </a>
                        }
                    </p>
                    <p>
                        @if (@item.unstyledad_value_4 != null)
                        {
                            @item.unstyledad_value_4
                        }
                    </p>
                    <p>
                        @if (@item.genericgreen_number != null)
                        {
                            <h4>Phone # : @item.genericgreen_number</h4>
                        }
                    </p>
                </div>
            </div>
            <div class="col-md-3">
                @if (@item.genericwhite_value != null)
                {
                    <h3>Rs : @item.genericwhite_value</h3>
                }
                @if (@item.genericwhite_number != null)
                {
                    <h3>Rs : @item.genericwhite_number</h3>
                }
                <p>
                    <a href=@item.carnamead_link target="_blank">
                        <h5>Details</h5>
                    </a>
                </p>
            </div>
        </div>
    </div>
    <br />
}
