﻿<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
<script src="//code.jquery.com/jquery-1.10.2.js"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<script src="~/Scripts/lpsMarketing.js"></script>


@if (@ViewBag.Title == "Cars")
{
    <div class="row">
        <div class="col-lg-12">
            <div class="row">
                <div class="col-md-4">
                    <h5 style="color:darkslategrey">Brand Name</h5>
                    <select id="vechiels" name="vechiels" class="form-control" style="width:150px">
                        <option value="Brand" style="display:none">Brand</option>
                        <option value="cars/">All</option>
                        <option value="cars-honda/">Honda</option>
                        <option value="hyundai/">Hyundai</option>
                        <option value="daihatsu/">Daihatsu</option>
                        <option value="maruti-suzuki/">Suzuki</option>
                        <option value="toyota/">Toyota</option>
                        <option value="cars-other/">Other</option>
                    </select>
                </div>
                <div class="col-md-4">
                    <h5 style="color:darkslategrey">Fule Type</h5>
                    <select id="fuelType" name="fuelType" class="form-control" style="width:150px">
                        <option value="" style="display:none">Fuel</option>
                        <option value="petrol">Petrol</option>
                        <option value="diesel">Diesel</option>
                        <option value="lpg">LPG</option>
                        <option value="cng">CNG &#38 Hybrid</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
}
@if (@ViewBag.Title == "PakWheels")
{
    <div class="row">
        <div class="col-md-4">
            <h5>Brand:</h5>
            <select id="vechiels" name="vechiels" class="form-control">
                <option value="Brand" style="display:none">Brand</option>
                <option value="">All</option>
                <option value="/mk_honda">Honda</option>
                <option value="/mk_hyundai">Hyundai</option>
                <option value="/mk_daihatsu">Daihatsu</option>
                <option value="/mk_suzuki">Suzuki</option>
                <option value="/mk_toyota">Toyota</option>
            </select>
        </div>
    </div>
}
<div class="row">
    <div class="col-lg-12">
        <div class="row">
            <div class="col-md-4">
                <h5 style="color:darkslategrey">Price Range</h5>
                <div class="row">
                    <div class="col-md-4">
                        <input name="priseFrom" id="priseFrom" class="form-control" style="width:80px" placeholder="From" />
                    </div>
                    <div class="col-md-4">
                        <input name="priseTo" id="priseTo" class="form-control" style="width:80px" placeholder="To" />
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <h5 style="color:darkslategrey">Year</h5>
                <div class="row">
                    <div class="col-md-4">
                        <input name="yearFrom" id="yearFrom" class="form-control" style="width:80px" placeholder="From" />
                    </div>
                    <div class="col-md-4">
                        <input name="yearTo" id="yearTo" class="form-control" style="width:80px" placeholder="To" />
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <h5 style="color:darkslategrey">Mileage</h5>
                <div class="row">
                    <div class="col-md-4">
                        <input name="mileageFrom" id="mileageFrom" class="form-control" style="width:80px" placeholder="From" />
                    </div>
                    <div class="col-md-4">
                        <input name="mileageTo" id="mileageTo" class="form-control" style="width:80px" placeholder="To" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="row">
            @if (@ViewBag.Title != "PakWheels")
            {
                <div class="col-lg-4">
                    <h5 style="color:darkslategrey">Sort Order</h5>
                    <select id="sourtOrder" name="sourtOrder" class="form-control" style="width:150px">
                        <option value="" style="display:none">Sourt Order</option>
                        <option value="MostRecent">Most Recent</option>
                        <option value="Aasc">Price Rs: Low to High</option>
                        <option value="Adesc">Price Rs: High to Low</option>
                    </select>
                </div>
            }
            <div class="col-lg-4">
                &nbsp;
            </div>
            <div class="col-lg-4">
                <h5 style="color:darkslategrey">&nbsp;</h5>
                <button class="btn btn-success form-control" style="" onclick="GenerateResults()">Filter</button>
            </div>
        </div>
    </div>
</div>

