﻿@*@using PagedList;
@using PagedList.Mvc;
@model IPagedList<LPS.Marketing.Model.InnerResult>*@

@model IEnumerable<LPS.Marketing.Model.InnerResult>

@foreach (var item in Model)
{
    <div class="row thumbnail" style="" onmouseover="this.style.background = '#eeeeee';" onmouseout="this.style.background='white';">
        <div class="col-md-3">
            <img src="@item.thumbvtoprel_image">
        </div>
        <div class="col-md-6">
            @{
                string li = @item.linkwithhash_link;
                string middl = li.Substring(li.LastIndexOf('/') + 1);
                @ViewBag.Heading = middl.Substring(0, middl.LastIndexOf('-')).Replace("-", " ");
            }
            <h3>@ViewBag.Heading</h3>
            <div class="caption">
                <p>
                    @if (@item.breadcrumb_value != null)
                    {
                        @item.breadcrumb_value
                    }
                    @if (@item.carshonda_label != null)
                    {
                        @item.carshonda_label
                    }
                    @if (@item.carshyundai_label != null)
                    {
                        @item.carshyundai_label
                    }
                    @if (@item.carsdaihatsu_label != null)
                    {
                        @item.carsdaihatsu_label
                    }
                    @if (@item.carssuzuki_label != null)
                    {
                        @item.carssuzuki_label
                    }
                    @if (@item.carstoyota_label != null)
                    {
                        @item.carstoyota_label
                    }
                    @if (@item.carsother_label != null)
                    {
                        @item.carsother_label
                    }
                </p>
                <p>

                    @if (@item.breadcrumbtext_value != null)
                    {
                        <img src="~/Images/Annotation.png" />
                                        <a href="https://www.google.com/maps/place/@item.breadcrumbtext_value,+Pakistan" target="_blank">
                                            @item.breadcrumbtext_value
                                        </a>
                    }
                    @if (@item.carshonda_value != null)
                    {
                        <img src="~/Images/Annotation.png" />
                                        <a href="https://www.google.com/maps/place/@item.carshonda_value,+Pakistan" target="_blank">
                                            @item.carshonda_value
                                        </a>
                    }
                    @if (@item.carshyundai_value != null)
                    {
                        <img src="~/Images/Annotation.png" />
                                        <a href="https://www.google.com/maps/place/@item.carshyundai_value,+Pakistan" target="_blank">
                                            @item.carshyundai_value
                                        </a>
                    }
                    @if (@item.carsdaihatsu_value != null)
                    {
                        <img src="~/Images/Annotation.png" />
                                        <a href="https://www.google.com/maps/place/@item.carsdaihatsu_value,+Pakistan" target="_blank">
                                            @item.carsdaihatsu_value
                                        </a>
                    }
                    @if (@item.carssuzuki_value != null)
                    {
                        <img src="~/Images/Annotation.png" />
                                        <a href="https://www.google.com/maps/place/@item.carssuzuki_value,+Pakistan" target="_blank">
                                            @item.carssuzuki_value
                                        </a>
                    }
                    @if (@item.carstoyota_label != null)
                    {
                        <img src="~/Images/Annotation.png" />
                                        <a href="https://www.google.com/maps/place/@item.carstoyota_label,+Pakistan" target="_blank">
                                            @item.carstoyota_label
                                        </a>
                    }
                    @if (@item.carsother_value != null)
                    {
                        <img src="~/Images/Annotation.png" />
                                        <a href="https://www.google.com/maps/place/@item.carsother_value,+Pakistan" target="_blank">
                                            @item.carsother_value
                                        </a>
                    }
                </p>
            </div>
        </div>
        <div class="col-md-3">
            <h3>@item.c000_value</h3>
            <p>
                <a href=@item.thumbvtoprel_link target="_blank">
                    <h5>Details</h5>
                </a>
            </p>
        </div>
    </div>
    <br />
}


    

