﻿
@{
    ViewBag.Title = "Other";
}

<div class="row">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div>
                    <img src="~/Images/Car.png" alt="Cars">
                </div>
            </div>
            <div class="col-lg-9">
                <div class="jumbotron" style="padding-top: 10px; padding-bottom: 10px">
                    @Html.Partial("_VechileFilterForm")
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3">
                <ul class="nav nav-pills nav-stacked">
                    <li role="presentation"><a href="@Url.Action("Index", "Vechiles")">Cars</a></li>
                    <li role="presentation"><a href="@Url.Action("Commerical", "Vechiles")">Commerical Vechiles</a></li>
                    <li role="presentation" class="active"><a href="@Url.Action("Other", "Vechiles")">Other Vechiles</a></li>
                    <li role="presentation"><a href="@Url.Action("PakWheels", "Vechiles")">Pak Wheels Used Cars</a></li>
                </ul>
            </div>
            <div class="col-lg-9">
                <div id="divWrapper">
                    @{ Html.RenderAction("OtherVechiles", "Vechiles"); }
                </div>
            </div>
        </div>
        <hr>
        <footer>
            <p>&copy; 2016 LPS, Inc.</p>
        </footer>
    </div>
</div>

<script src="~/Scripts/waitMe.js"></script>
<script>
    var current_effect = "img";
    function GenerateResults() {
        activateLoader();
        var param = {
            vechiels: $('#vechiels').val(),
            priseFrom: $('#priseFrom').val(),
            priseTo: $('#priseTo').val(),
            yearFrom: $('#yearFrom').val(),
            yearTo: $('#yearTo').val(),
            mileageFrom: $('#mileageFrom').val(),
            mileageTo: $('#mileageTo').val(),
            fuelType: $('#fuelType').val(),
            sourtOrder: $('#sourtOrder').val(),
        };
        $.ajax(
            {
                type: 'POST',
                url: '@Url.Action("OtherVechiles", "Vechiles")',
                dataType: "html",
                data: param,
                success: function (result) {
                    deActivateLoader();
                    $('#divWrapper').html(result);
                },
                error: function () {
                    deActivateLoader();
                    alert("Some THing Went Wrog Please Try later.");
                }
       });
    }
    function activateLoader() {
        run_waitMe(current_effect);
    };

    function deActivateLoader() {
        $('body').waitMe('hide');
    };

    function run_waitMe(effect) {
        $('body').waitMe({
            effect: effect,
            text: 'Please wait...',
            bg: 'rgba(255,255,255,0.7)',
            color: '#000',
            sizeW: '',
            sizeH: '',
            source: 'img.svg',
            onClose: function () { }
        });
    }
</script>

