﻿

<ul class="nav nav-pills nav-stacked">
    <li role="presentation" class="active" onclick=""><a href="@Url.Action("Index","Jobs")">Customer Services</a></li>
    <li role="presentation"><a href="@Url.Action("IT","Jobs")">IT</a></li>
    <li role="presentation"><a href="@Url.Action("Online","Jobs")">Online</a></li>
    <li role="presentation"><a href="@Url.Action("Marketing","Jobs")">Marketing</a></li>
    <li role="presentation"><a href="@Url.Action("Advertisement","Jobs")">Advertisiment and PR</a></li>
    <li role="presentation"><a href="@Url.Action("Sales","Jobs")">Sales</a></li>
    <li role="presentation"><a href="@Url.Action("Administration","Jobs")">Clerical And ADministration</a></li>
    <li role="presentation"><a href="@Url.Action("HumanResources","Jobs")">Human Resource</a></li>
    <li role="presentation"><a href="@Url.Action("Tourism","Jobs")">Hotels and Tourism</a></li>
    <li role="presentation"><a href="@Url.Action("Finance","Jobs")">Accounting and Finance</a></li>
    <li role="presentation"><a href="@Url.Action("Manufacturing","Jobs")">Manufacturing</a></li>
    <li role="presentation"><a href="@Url.Action("Parttime","Jobs")">Part TIme</a></li>
    <li role="presentation"><a href="@Url.Action("Otherjobs","Jobs")">Other Jobs</a></li>
</ul>

<script>
    $(document).ready(function () {
        $('.nav li a').click(function (e) {

            $('.nav li').removeClass('active');

            var $parent = $(this).parent();
            if (!$parent.hasClass('active')) {
                $parent.addClass('active');
            }
        });
    });
</script>
