﻿
@{
    ViewBag.Title = "CustomerServices";
}

<div class="row">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div>
                    <img src="~/Images/CustomerServices.png" alt="Cars">
                </div>
            </div>
            <div class="col-lg-9">
                <div class="jumbotron" style="padding-top: 10px; padding-bottom: 10px">
                    @Html.Partial("_JobsFilterForm")
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3">
                <ul class="nav nav-pills nav-stacked">
                    <li role="presentation" class="active"><a href="@Url.Action("Index","Jobs")">Customer Services</a></li>
                    <li role="presentation"><a href="@Url.Action("IT","Jobs")">IT</a></li>
                    @*<li role="presentation"><a href="@Url.Action("Online","Jobs")">Online</a></li>
                    <li role="presentation"><a href="@Url.Action("Marketing","Jobs")">Marketing</a></li>
                    <li role="presentation"><a href="@Url.Action("Advertisement","Jobs")">Advertisiment and PR</a></li>
                    <li role="presentation"><a href="@Url.Action("Sales","Jobs")">Sales</a></li>
                    <li role="presentation"><a href="@Url.Action("Administration","Jobs")">Clerical And ADministration</a></li>
                    <li role="presentation"><a href="@Url.Action("HumanResources","Jobs")">Human Resource</a></li>
                    <li role="presentation"><a href="@Url.Action("Tourism","Jobs")">Hotels and Tourism</a></li>
                    <li role="presentation"><a href="@Url.Action("Finance","Jobs")">Accounting and Finance</a></li>
                    <li role="presentation"><a href="@Url.Action("Manufacturing","Jobs")">Manufacturing</a></li>
                    <li role="presentation"><a href="@Url.Action("Parttime","Jobs")">Part TIme</a></li>
                    <li role="presentation"><a href="@Url.Action("Otherjobs","Jobs")">Other Jobs</a></li>*@
                </ul>
            </div>
            <div class="col-lg-9">
                <div id="divWrapper">
                    @{ Html.RenderAction("CustomerServices", "Jobs"); }
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/Scripts/waitMe.js"></script>
<script>
    var current_effect = "img";

    function GenerateResults() {
        activateLoader();
        var param = {
            position: $('#position').val(),
            salaryFrom: $('#salaryFrom').val(),
            salaryTo: $('#salaryTo').val(),
        };
        $.ajax(
            {
                type: 'POST',
                url: '@Url.Action("CustomerServices", "Jobs")',
                dataType: "html",
                data: param,
                success: function (result) {
                    deActivateLoader();
                    $('#divWrapper').html(result);
                },
                error: function () {
                    deActivateLoader();
                    alert("Some Thing Went Wrog Please Try later.");
                }
       });
    }

    function activateLoader() {
        run_waitMe(current_effect);
    }

    function deActivateLoader() {
        $('body').waitMe('hide');
    }

    function run_waitMe(effect) {
        $('body').waitMe({
            effect: effect,
            text: 'Please wait...',
            bg: 'rgba(255,255,255,0.7)',
            color: '#000',
            sizeW: '',
            sizeH: '',
            source: 'img.svg',
            onClose: function () { }
        });
    }

</script>

