﻿@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <hr />
    <div class="col-md-2 thumbnail" style="border:solid 2px; border-radius: 5px; text-align:center">
        <a href="@Url.Action("Index","Vechiles")">
            <img src="~/Images/Car.png" alt="Cars">
        </a>
        <h3>Vechiles</h3>
    </div>
    <div class="col-md-3">
    </div>
    <div class="col-md-2" style="border:solid 2px; border-radius: 5px; text-align:center">
        <a href="@Url.Action("Index","RealEstate")">
            <img src="~/Images/Property .png" alt="Jobs">
        </a>
        <h3>Real Estate</h3>
    </div>
    <div class="col-md-3">
    </div>
    <div class="col-md-2" style="border:solid 2px; border-radius: 5px; text-align:center">
        <a href="@Url.Action("Index","Jobs")">
            <img src="~/Images/Jobs.png" alt="Jobs">
        </a>
        <h3>Jobs</h3>
    </div>
</div>
